# Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias 1='cd -'
alias 2='cd -2'
alias 3='cd -3'
alias 4='cd -4'
alias 5='cd -5'

# Easy report
alias ls='gls -l --color'
alias l='gls -lAh --color --group-directories-first'
alias rmf='rm -rf'
alias cp='cp -iv'
alias mv='mv -iv'
alias mkdir='mkdir -v'
alias h='history'
alias hgrep='history | grep'
alias lgrep='ls -lA | grep'

# Bookmarks
alias dl='cd ~/Downloads && ls -lA'
alias doc='cd ~/Documents && ls -lA'
alias dev='cd ~/projects && ls -lA'

# Shortcuts
alias c='clear'
alias cat='bat'
alias e='exit'
alias timer='echo "Timer started. Stop with Ctrl-D." && date "+%a, %d %b %H:%M:%S" && time cat && date "+%a, %d %b %H:%M:%S"'

# Typos
alias :q='exit'
alias help='man'
alias quit='exit'
